.transactionHistory {
    border: 1px solid gray;
    border-radius: 5px;
    border-spacing: 0px;
    margin: 0 auto;
    margin-bottom: 50px;

    .thead {

        .thItem {
            padding: 5px 100px;
            text-align: center;
            color: white;
            background-color: #00BDD6;
            border: 0.5px solid white;
        }
    }

    .tbody {}
}